<ul>
  {{#each albums}}
    <li>
      {{#if images.length}}
        <img src='{{images.0.url}}' alt='{{name}}' />
      {{/if}}
      <h5>{{name}}</h5>
      <a href='/album/{{id}}'>View track</a>
    </li>
  {{/each}}
</ul>